# Node modules
/node_modules

# Output build
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.bak

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db
